 @charset"utf-8";
 /* EMBA主页css */
    html{font-family:"Microsoft YaHei",Times, serif;}
	.bg-d-blue{background-color: #004184;}
	.bg-l-blue{background-color: #19538f;}
	.col-h-blue{color: #004184;}
	.col-s-blue{color:#93a9c0;}
	.z-999{z-index:999;}
	.bor-primary{border: 1px solid #eaf8ff}
	.f-45{font-size:45px;}
	.bor-col-hb{border-color: #004184;}
	.btn-dblue {background-color:#004184; border-color: #004184}
	.line-h-45{line-height: 45px;}
	.shadow-rb-2{ -webkit-box-shadow: 3px 3px 3px;-moz-box-shadow: 3px 3px 3px;box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2)}
	.top3{margin-top: 9%}
	.cou:hover {border: 1px solid #777;}
	.img-150{width:150px;height:150px;}
	.pt-70{padding-top: 70px;}	
	.h{height: 590px;}
	.div1{position:relative;animation:myfirst 1s;-webkit-animation:myfirst 1s;}
	@keyframes myfirst
	{
		0%   { left:-100px; top:0px;}
		50% { left:0px; top:0px;}
		75% { left:-40px; top:0px;}
		100% { left:0px; top:0px;}
	}
	@-webkit-keyframes myfirst 
	{
		0%   { left:-100px; top:0px;}
		50% { left:0px; top:0px;}
		75% { left:-40px; top:0px;}
		100% { left:0px; top:0px;}
	}
	.div2{position:relative;animation:myfirst1 1s;-webkit-animation:myfirst1 1s; }
	@keyframes myfirst1
	{
		0%   { left:0px; top:100px;}
		50% { left:0px; top:0px;}
		75% { left:0px; top:40px;}
		100% { left:0px; top:0px;}
	}
	@-webkit-keyframes myfirst1 
	{
		0%   { left:0px; top:100px;}
		50% { left:0px; top:0px;}
		75% { left:0px; top:40px;}
		100% { left:0px; top:0px;}
	}	
/* 侧边悬浮导航菜单开始*/
	.bg-embav1{background: #185293}
	.emba-nav1{font-size: 14px;width:80px;}
	.emba-nav2{font-size: 14px;width:80px;}
	.emba-nav3{padding-top: 5px; padding-bottom: 5px;width:80px;}
	.emba-nav3:hover{background: #0D3D70}
	.emba-nav4{color: #185293;padding: 5px 0; margin-top: 5px;margin-bottom: 5px}
	.emba-nav4:hover{color: white; background:#185293}
	.emba-nav5h{z-index:99}
	.emba-nav5h:hover{font-weight: bold;background: #0D3D70}
	.afx-nav{position: fixed;top:0px; z-index: 999;}
/* banner */
	.swiper-containerv1 {width: 100%;height:100%;}
	.swiper-containerv1 > .swiper-wrapper > .swiper-slide img{width: 100%;max-height: 100%;}
	.swiper-containerv5 > .swiper-wrapper > .swiper-slide img{width: 70%;max-height:70%;}
	.swiper-paginationv1{z-index: 99;bottom: 47% !important;}
	.swiper-paginationv1 span{width: 15px;height: 15px;}
	.mba-ban-tit{bottom: 0px;z-index: 98;background-color: rgba(255,255,255,0.9);}
	.bor-emba{border:1px solid #185293;}
	.btn-ban-tit{ padding: 5px 100px;}
	.btn-ban-tit:hover{background: #003368;}
	.btn-ban-tit1:hover{background: #fff;}
	.ban-tit-iv1{z-index: 98; right: 0px;}
	.ban-tit-iv2{z-index: 100; left: 100px;}
	.ban-tit-iv3{color:#003368;}
	.ban-tit-pv4:hover{color:#004184;}
	.ban-tit-spv1:hover{text-decoration:underline;}
	.swiper-pagination-bullet{border:2px solid #004184;background-color:#fff;}
@media (min-width:992px){
	.swiper-containerv1 {height:100%;}
	.ban-tit-p{font-size: 22px;}
	.ban-tit-spv1{font-size:16px;}
	.ban-tit-spv2{font-size:28px;}
	.swiper-paginationv1{bottom: 45% !important;} 
	.mba-ban-tit{height: 42%;}
	.pro-img-2{height: 150px;}
	.ban-tit-pv2{font-size:58px;font-size:bolder;}
	.ban-tit-pv3{font-size:18px;}
	.ban-tit-pv4{font-size:20px;line-height: 25px;}
	.ban-tit-pv5{font-size:16px;-webkit-line-clamp:2;padding-top: 5px;}
	.ban-tit-dipro-img-2v1{padding: 0;}
	.ban-tit-div2{padding: 0;}
	.ppa{font-size:45px;}
	.ppb{line-height: 25px;font-size:20px;}
	.ppc{font-size:40px;}
	.ppd{line-height: 25px}
	.ppo{font-size:16px;}
}
@media (min-width:768px) and (max-width:991px){
	.swiper-containerv1 {height: 50%;}
	.ban-tit-p{font-size: 16px;}
	.ban-tit-spv1{font-size:16px;}
	.ban-tit-spv2{font-size:18px;}
	.swiper-paginationv1{bottom: 62% !important;}
	.mba-ban-tit{height: 58%;}
	.pro-img-2{height: 60px;}
	.ban-tit-pv2{font-size:50px;}
	.ban-tit-pv3{font-size:13px;}
	.ban-tit-pv4{font-size:16px;line-height: 20px;}
	.ban-tit-pv5{font-size:13px;-webkit-line-clamp:2;padding-top: 5px;}
	.ban-tit-div1{padding: 0;}
	.ban-tit-div2{padding: 0;}
	.ppa{font-size:25px;}
	.ppc{font-size:25px;}
	.ppb{line-height: 20px;font-size:18px;}
	.ppd{line-height: 20px;font-size:14px;}
	.ppo{font-size:16px;}
}
@media  (max-width:767px){
	.swiper-containerv1 {height: 50%;}
	.ban-tit-p{font-size: 13px;}
	.ban-tit-spv1{font-size:13px;}
	.ban-tit-spv2{font-size:13px;}
	.swiper-paginationv1{bottom: 62% !important;}
	.mba-ban-tit{height: 68%;}
	.pro-img-2{height: 35px;}
	.ban-tit-pv2{font-size:13px;}
	.ban-tit-pv3{font-size:13px;}
	.ban-tit-pv4{font-size:13px;line-height: 13px;}
	.ban-tit-pv5{font-size:13px;-webkit-line-clamp:2;padding-top: 5px;}
	.ban-tit-div1{padding: 0;}
	.ban-tit-div2{padding: 0;}
	.ppa{font-size:13px;}
	.ppc{font-size:13px;}
	.ppb{line-height: 13px;font-size:13px;}
	.ppd{line-height: 13px;font-size:13px;}
	.ppo{font-size:13px;}
}
/* banner结束 */
/* 活动预告开始 */
.ppe:hover{text-decoration: underline;}
@media (min-width:992px){
	.ppe{font-size:20px;line-height: 25px;}
	.ppf{font-size:14px;line-height: 25px;}
	.ppg{font-size:14px;line-height: 25px;padding-top:20px;}
	.ha{height:590px;}
}
@media (min-width:768px) and (max-width:991px){
    .ppe{font-size:18px;line-height: 20px;}
    .ppf{font-size:13px;line-height: 20px;}
    .ppg{font-size:13px;line-height: 20px;padding-top:15px;}
    .ha{height:590px;}
}
@media  (max-width:767px){
    .ppe{font-size:15px;line-height: 15px;}
    .ppf{font-size:13px;line-height: 15px;}
    .ppg{font-size:13px;line-height: 15px;padding-top:5px;}
    .ha{height:370px;}
}
/* 活动预告结束 */
/* EMBA专家开始 */
.stu-titv2{padding: 0 0 20px;}
.bor-stuv1{border-top: 1px solid #003368; border-bottom:1px solid #003368;border-left: 5px solid #003368; border-right:1px solid #003368;}
.exp-bgbv1{background: url(../img/edu-emba/stu_bg.jpg)}
.stu-periods{top: 20px; right: 0px;}
.swiper-paginationv2{z-index: 99;}
.swiper-paginationv2 span{width: 15px;height: 15px; margin: 5px 10px;}
.swiper-containerv4 {width: 100%;}
.swiper-paginationv4{z-index: 99;}
.swiper-paginationv4 span{width: 15px;height: 15px; margin: 5px 10px;}
@media (min-width:992px){
	.ppl{font-size:45px;padding-top:20px;padding-bottom:10px;}
	.ppi{font-size:45px;padding-bottom:20px;}
    .stu-titv1{padding: 0 0 60px;}
    .stu-pv1{font-size: 52px;}
	.stu-pv2{font-size: 32px;}
	.stu-pv3{font-size: 18px; line-height: 25px;}
	.btn-dis{margin-left:25%;}
}
@media (min-width:768px) and (max-width:991px){
    .ppl{font-size:30px;padding-top:15px;padding-bottom:5px;}
	.ppi{font-size:21px;padding-bottom:15px;}
    .stu-titv1{padding: 0 0 40px;}
    .stu-pv1{font-size: 45px;}
	.stu-pv2{font-size: 25px;}
	.stu-pv3{font-size: 13px; line-height: 20px;}
	.btn-ban-tit{padding: 5px 70px; }
    .btn-dis{margin-left:0%;}
    .imga{height:100%;}
}
@media  (max-width:767px){
    .ppl{font-size:20px;padding-top:5px;padding-bottom:5px;}
	.ppi{font-size:15px;padding-bottom:5px;}
    .stu-titv1{padding: 0 0 20px;}
    .stu-pv1{font-size: 20px;}
	.stu-pv2{font-size: 15px;}
	.stu-pv3{font-size: 13px; line-height: 15px;}
	.btn-ban-tit{padding: 5px 70px;}
    .btn-dis{margin-left:15%;} 
}
/* EMBA专家结束 */
/* 课程设置开始 */
.course:hover p{display:block;}
@media (min-width:992px){
    .ppm{font-size:28px;padding:20px;}
    .hb{height:590px;}
}
@media (min-width:768px) and (max-width:991px){
    .ppm{font-size:18px;padding:10px;}
    .hb{height:590px;}
}
@media  (max-width:767px){
	.ppm{font-size:13px;padding:5px;}
	.hb{height:750px;}
}
/* 课程设置结束 */
/* 项目介绍开始 */
.manmod{background: url(../img/edu-emba/tree.png) no-repeat;}
.tab-v1 .tabbar span {padding: 8px 80px;}
.tab-v1 .tabbar {border-bottom: solid 2px #19538f}
.tab-v1 .tabbar span.current {background:#19538f;}
.tab-v1 .tabbar span:hover {background: #19538f;}
.tab-v3 .tabbar span {float: left; color: #555; padding: 8px 109.34px; font-size: 14px; margin-right: 2px; cursor: pointer}
.tab-v3 .tabbar span.current {background: #004184; color: #fff}
.tab-v3 .tabbar span:hover {background: #004184; color: #fff}
.cmod-hover{opacity: 0}
.coumod:hover .cmod-hover{background: rgba(0,0,0,0.5); opacity: 1}
.cmod-hover a.info{background: #19538f;top:80%;left: 50%;transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%)}
@media (min-width:992px){
	.sid{width:20px;padding-left:28px;}
    .ppj{font-size:45px;padding-top:20px;padding-bottom:10px;line-height: 45px;}
    .ppk{font-size:16px;padding-bottom:20px;}
    .pps{font-size:14px;}
    .det{line-height:20px;padding-top:10px;padding-bottom:10px;}
}
@media (min-width:768px) and (max-width:991px){
    .sid{width:15px;padding-left:18px;}
    .ppj{font-size:30px;padding-top:15px;padding-bottom:5px;line-height: 30px;}
    .ppk{font-size:13px;padding-bottom:10px;}
    .pps{font-size:13px;}
    .det{line-height:15px;padding-top:5px;padding-bottom:5px;}
}
@media  (max-width:767px){
	.sid{width:10px;padding-left:14px;}
    .ppj{font-size:14px;padding-top:5px;padding-bottom:5px;line-height: 15px;}
    .ppk{font-size:13px;padding-bottom:5px;}
}
/* 项目介绍结束 */
/* 报名须知开始 */
.ppp:hover{text-decoration: underline;}
@media (min-width:992px){
	.ppp{font-size:20px;line-height: 25px;}
	.ppq{font-size:14px;line-height: 25px;}
	.ppr{font-size:14px;line-height: 25px;padding-top:20px;}
	.hc{height:590px;}
}
@media (min-width:768px) and (max-width:991px){
    .ppp{font-size:18px;line-height: 20px;}
    .ppq{font-size:13px;line-height: 20px;}
    .ppr{font-size:13px;line-height: 20px;padding-top:15px;}
    .hc{height:590px;}
}
@media  (max-width:767px){
    .ppp{font-size:18px;line-height: 20px;}
    .ppq{font-size:15px;line-height: 20px;}
    .ppr{font-size:13px;line-height: 20px;padding-top:5px;}
    .hc{height:590px;}
}
/* 报名须知结束 */
/* 现在报名开始 */
 .appr-bg{background: url(../img/edu-emba/3.png) no-repeat;}
 @media (min-width:992px){
    .sign{line-height:65px;}
    .ppm{font-size:30px;padding:20px;}
 }
 @media (min-width:768px) and (max-width:991px){
    .sign{line-height:45px;}
    .ppm{font-size:20px;padding:10px;}
 }
 @media  (max-width:767px){
 	.sign{line-height:35px;}
    .ppm{font-size:14px;padding:5px;}
 }
/* 现在报名结束 */
/* 右侧漂浮开始 */
.right_float {top: 28%;z-index: 9999;width: 189px;background: rgba(255,255,255,0.8);height: 0;background: rgb(255,255,255)\9;}	       
.right_float_inner li {position: relative;height: 44px;border-bottom: 1px solid #8da3ba;cursor: pointer;}	
.right_float_inner4:hover .right_float{display:block;}
.right_float_inner4 {background: url(../img/user/rr4.png) no-repeat center #004184;background-size: 12px 19px;}
.right_float_inner {width: 35px;right: 0;top: 22%;z-index: 98;border-left: 1px solid #8da3ba;}
.right_float_inner6:hover .text {height:40px;transition: all 0.4s;display:block;}
.right_float_inner6 .text {width: 244px;left: -243px;background: url(../img/user/rbg.png);}
.box1{height:100px;z-index:98;box-shadow: 0 0 8px rgba(0,0,0,.4);}
.right_float_tit{height: 46px;line-height: 46px;width: 208px;} 
.titled{width:176px;}
.imgsj{bottom:-8px;right:46px;}
.right_float_tit_r{margin-top:-32px;}
.bottom_right_fl_top{margin-top:17px;}
.subbtn{background-color: #004184;}
.click_more{margin: 10px auto;width: 129px;}
/* 右侧漂浮结束 */


 /* 返回顶部开始 */
.backttop{z-index:10;bottom:30px;right:20px;}
.backttop:hover{background-color:#003368}
.btta{opacity:1;top:200px;right:100px;}
/* 返回顶部结束 */

/* 提交报名开始 */
.subap-bg{background-image: url(../img/edu-emba/1.jpg);}
.sofia-assess-input {margin: 40px auto;background: #b0b0b0;}
.sofia-assess button {line-height: 55px;font-size: 1.8em;width: 300px;margin: 0 auto;box-shadow: 0 2px 2px #19538f;}
.naminp{margin-left:45px;}
.Subbutt{background: #003368;border: 0;}
/* 提交报名结束 */

/* EMBA主页cssEND */


